<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Symfony{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
</head>

<body>

<div class="container mt-4">
    {% block body %}{% endblock %}
</div>

</body>
</html>
